{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'authentication/css/style.css' %}">
    <script>
        var GOOGLE_LOGIN_URL = "{% url 'authentication:google_login' %}";
    </script>
    <script src="{% static 'authentication/js/login.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="g-signin2" data-onsuccess="onGoogleSignIn"></div>
    <div class="container">
        <div class ="content">
            {% crispy form %}
        </div>
    </div>
{% endblock %}
