.navbar-default {
  background: #337ab7;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover {
    background: #2789e8;
    color: white;
}

.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background: #337ab7;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ffffff;
  background: #2789e8;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background: #2789e8;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #ffffff;
  background: #2789e8;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #337ab7;
  background: white;
  font-weight: bold;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background: #2789e8;
}
.navbar-default .navbar-toggle {
  border-color: #2789e8;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background: #2789e8;
}
.navbar-default .navbar-toggle .icon-bar {
  background: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar- {
  color: #ffffff;
}
.navbar-default .navbar-:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background: #2789e8;
  }
}

.table-text-center td, .table-text-center th {
    text-align: center;
}

.center_div{
    margin: 0 auto;
    width:80% /* value of your choice which suits your alignment */
}

.center {
    text-align:center;
}

.center form {
    display:inline-block;
}

.post {
    display: inline-block;
    border: 2px solid black;
}

.submission_passed {
    font-weight: bold;
    color: green;
}

.submission_failed {
    font-weight: bold;
    color: red;
}

.prettyprint {
    font-size: 1.1em;
}
