{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block head %}
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script type="text/javascript">
        $(function() {
            $(".inline.{{ test_case_form.prefix }}").formset({
                prefix: "{{ test_case_form.prefix }}",
            })
        })
    </script>
{% endblock %}

{% block content %}
    <form method="post" action="{% url 'problemset:create_problem' %}" enctype="multipart/form-data">
        {% crispy form %}
        {% crispy test_case_form test_case_form.form.helper %}
    </form>
{% endblock %}
