{% extends "base.html" %}

{% block content %}
    <div class="text-center">
        <h2>Problemset</h2>
    </div>
    {% if perms.problemset.can_add_problem %}
        <form action="{% url 'problemset:create_problem' %}">
            <input class="btn btn-primary btn-md" type="submit" value="Create problem">
        </form>
    {% endif %}

    <div class="table-responsive">
        <table class="table table-hover table-text-center">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Author</th>
                <tr>
            </thead>
            {% for problem in object_list %}
                <tr>
                    <td>{{ problem.pk }}</td>
                    <td>
                        <a href="{% url 'problemset:view_problem' problem.pk %}">
                            {{ problem.title }}
                        </a>
                    </td>
                    <td>{{ problem.user }}</td>
                </tr>
            {% endfor %}
        </div>
    </div>
{% endblock %}
