{% extends "base.html" %}

{% load static %}

{% block head %}
    <script src="{% static 'core/js/list_submissions.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="text-center">
        <h2>Submissions</h2>
    </div>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>User</th>
                    <th>Problem Title</th>
                    <th>Status</th>
                    <th></th>
                    <th>Date</th>
                <tr>
            </thead>

            <tbody>
                {% for submission in object_list %}
                    <tr class="{% if submission.get_status_display == 'Pending' %}pending{% endif %}">
                        <td class="submission_id">{{ submission.pk }}</td>
                        <td>{{ submission.user }}</td>
                        <td>
                            <a href="{% url 'problemset:view_problem' submission.problem.pk %}">
                                {{ submission.problem.title }}
                            </a>
                        </td>
                        <td class="submission_status">{{ submission.get_status_display }}</td>
                        <td>
                            <a href="{% url 'core:view_source' submission.pk %}">
                                View source
                            </a>
                        </td>
                        <td>{{ submission.datetime }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </div>
    </div>
{% endblock %}
