{% extends "base.html" %}

{% load static %}
{% load tz %}

{% block head %}
    <script src="{% static 'core/js/list_submissions.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="text-center">
        <h2>Submissions</h2>
    </div>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>User</th>
                    <th>Problem Title</th>
                    <th>Status</th>
                    <th></th>
                    <th>Date</th>
                    <th>Contest</th>
                <tr>
            </thead>

            <tbody>
                {% for submission in object_list %}
                    <tr class="{% if submission.get_status_display == 'Pending' %}pending{% endif %}">
                        <td class="submission_id">{{ submission.pk }}</td>
                        <td>{{ submission.user }}</td>
                        <td>
                            <a href="{% url 'problemset:view_problem' submission.problem.pk %}">
                                {{ submission.problem.title }}
                            </a>
                        </td>
                        <td class="submission_status">
                            {% with current_status=submission.get_status_display %}
                                {% if current_status == 'Pending' %}
                                    {{ current_status }} <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                                {% elif current_status == 'Tests passed' %}
                                    <span class="submission_passed">{{ current_status }}</span>
                                {% elif current_status == 'Error' or current_status == 'Wrong answer' %}
                                    <span class="submission_failed">{{ current_status }}</span>
                                {% endif %}
                            {% endwith %}

                        </td>
                        <td>
                            <a href="{% url 'core:view_source' submission.pk %}">
                                View source
                            </a>
                        </td>
                        {% timezone request.user.timezone %}
                            <td>{{ submission.datetime }}</td>
                        {% endtimezone %}
                        {% if submission.contest %}
                        <td>
                            <a href="{% url 'contest:view_contest' submission.contest.pk %}">
                                {{ submission.contest }}
                            </a>
                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </div>
    </div>
{% endblock %}
