{% extends "base.html" %}

{% load static %}

{% block head %}
    <script src="{% static 'js/run_prettify.js' %}"></script>
{% endblock %}


{% block content %}
    <div class="col-md-8">
    <div>
        Source file
        <pre class="prettyprint linenums">{{ source_content }}</pre>
    </div>

    <div>
        Input
        <pre>{{ test_content }}</pre>
    </div>

    <div>
        Output
        <pre>{{ source_output }}</pre>
    </div>

    <div>
        Answer
        <pre>{{ solution_output }}</pre>
    </div>
</div>
{% endblock %}
